.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/credentials.json
/extension/dist/
/extension/_metadata/
/dist/
/dist-test/
/types/
/test-results/
/src/services/misskey/emojis.json