@use 'variables' as *
@import 'bulma/bulma'

html
	overflow-y: hidden
	//	height: -webkit-fill-available*/

//TODO Fix 100% height on mobile, maybe using -webkit-fill-available
body
	margin: 0
	height: 100vh
	//height: -webkit-fill-available
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	display: flex

@import 'partialGlobal'