@use 'variables' as *
@import 'bulma/bulma'

html
	overflow-y: hidden
	//	height: -webkit-fill-available*/

//TODO Fix 100% height on mobile, maybe using -webkit-fill-available
body
	margin: 0
	height: 100vh
	//height: -webkit-fill-available
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	display: flex

.input.is-static
	color: $text

.icon, svg.svelte-fa
	color: $white-ter

.icon.darkIcon svg.svelte-fa.darkIcon
	color: $black-ter

.dropdown-trigger .icon
	color: $button-color

img.emoji
	height: 1em
	width: 1em
	margin: 0 .05em 0 .1em
	vertical-align: -0.1em

::-webkit-scrollbar
	width: 12px
	height: 12px

::-webkit-scrollbar-thumb
	border-radius: 0
	background-color: $scheme-main-ter


.borderless-button
	padding: 0
	border: none
	background: none
	outline: none
	cursor: pointer

	&:hover:not(:disabled) svg
		color: $link

	&:disabled svg
		color: $grey

	&:active
		margin-top: 1px